.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}

.hint {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hint p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    margin-top: 0px;
}

/* Modal Content */
.modal-content {
    height: 300px;
    background-color: #fefefe;
    top: 40%;
	position: absolute;
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 30%;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;	
}

/* The Close Button */
.closess {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closess:hover,
.closess:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}